= form_for(@store, :html => { :class => 'well form-horizontal' }) do |form|
  .form-errors-wrapper
    = render 'shared/form_errors', :target => @store
  %fieldset.float-left
    .control-group
      = form.label :name, :class => 'control-label'
      .controls
        = form.text_field :name, :class => 'input-xlarge'
    .control-group
      - if params[:action] == 'new'
        = form.label :url, :class => 'control-label'
        .controls
          = form.text_field :url, :class => 'input-xlarge'
      - else
        %label.control-label URL
        .controls
          %p.help-block
            = @store.url
          %p.help-block
            You cannot change your store's URL
    .control-group
      = form.label :return_policy, :class => 'control-label'
      .controls
        = form.text_area :return_policy, :class => 'input-xlarge', :rows => 5
    .form-actions
      = form.submit :class => 'btn btn-primary'

.widget
  - if params[:action] == 'edit'
    = link_to('Back to Store', store_path(@store))
  - else
    = link_to('Back to Stores', stores_path())
