= form_for(@store, :html => { :class => 'well form-horizontal' }) do |form|
  .form-errors-wrapper
    = render 'shared/form_errors', :target => @store
  %fieldset.float-left
    .control-group
      = form.label :name, :class => 'control-label'
      .controls
        = form.text_field :name, :class => 'input-xlarge', :disabled => (true if params[:action] == 'edit')
        - if params[:action] == 'edit'
          %span.help-inline You cannot change your store's name.

    .control-group
      = form.label :return_policy, :class => 'control-label'
      .controls
        = form.text_area :return_policy, :class => 'input-xlarge', :rows => 5
    .control-group
      = check_box :store, :terms_of_service
      = label :store, :terms_of_service do
        I agree to the GramGoods
        %a{ :href => '/tos', :target => '_blank' } Terms of Service
    .form-actions
      %a#sign_up_and_create_store{ :href => 'javascript: void(0);' } Sign Up and Create Store

.widget
  - if params[:action] == 'edit'
    = link_to('Back to Store', store_path(@store))
  - else
    = link_to('Back to Stores', stores_path())
