- edit_view = params[:action] == 'edit'
- verb_and_store = (!edit_view ? 'Create' : 'Update') + ' Store'
= form_for [@user, @store], :url => (params[:action] == 'edit' ? nil : stores_proxy_path), :html => {:class => 'mobile-form', |
                :autocorrect => 'off', |
                :autocapitalize => 'off' } do |form|

  - if @user.errors.any?
    = render 'shared/form_errors', :target => @user
  - if @store.errors.any?
    = render 'shared/form_errors', :target => @store

  %div
    = fields_for :user do |user_form|
      %fieldset
        - if edit_view
          = user_form.label :email, (form_label(:email))
        = user_form.text_field :email, :placeholder => (form_label(:email))

    = fields_for :store do |store_form|
      %fieldset
        - if edit_view
          = store_form.label :name, (form_label('Store Name'))
        = store_form.text_field :name, :placeholder => (form_label('Store Name')), |
                                 :class => 'input-xlarge'
        - if params[:action] == 'edit'
          %span.help-inline You cannot change your store's name.

      %fieldset
        - if edit_view
          = store_form.label :return_policy, (form_label(:return_policy))
        = store_form.text_area :return_policy, :placeholder => (form_label(:return_policy)), :class => 'input-xlarge', :rows => 5


      - unless edit_view
        %fieldset.checkbox
          = label :store, :terms_of_service do
            By signing up you agree to the GramGoods
            %a{ :href => '/tos', :target => '_blank' } Terms of Service
          = check_box :store, :terms_of_service, :checked => true

    %fieldset
      = form.submit verb_and_store, :class => 'btn btn-large btn-primary'
