- edit_view = params[:action] == 'edit'
- verb_and_store = (!edit_view ? 'Create' : 'Update') + ' Store'
= form_for [@user, @store], :url => (params[:action] == 'edit' ? nil : proxy_stores_path), :html => {:class => 'mobile-form', |
                :autocorrect => 'off', |
                :autocapitalize => 'off' } do |form|

  - if @user.errors.any?
    = render 'shared/form_errors', :target => @user
  - if @store.errors.any?
    = render 'shared/form_errors', :target => @store

  %div
    = fields_for :user do |user_form|
      %fieldset
        %h2 Business

      %fieldset
        - if edit_view
          = user_form.label :business_name, (form_label(:business_name))
        = user_form.text_field :business_name, :placeholder => (form_label(:business_name))

      %fieldset
        - if edit_view
          = user_form.label :email, (form_label(:email))
        = user_form.text_field :email, :placeholder => (form_label(:email))

      %fieldset
        - if edit_view
          = user_form.label :street_address_1, (form_label('Address'))
        = user_form.text_field :street_address_1, :placeholder => (form_label('Address'))

      %fieldset
        - if edit_view
          = user_form.label :street_address_2, (form_label('Apartment/Suite Number', false))
        = user_form.text_field :street_address_2, :placeholder => form_label('Apartment/Suite Number', false)

      %fieldset
        - if edit_view
          = user_form.label :city, (form_label(:city))
        = user_form.text_field :city, :placeholder => form_label(:city)

      %fieldset
        - state = !current_user.nil? ? current_user.state : nil
        = user_form.select :state, options_for_select(us_states, :selected => state)

      %fieldset
        - if edit_view
          = user_form.label :postal_code, (form_label(:postal_code))
        = user_form.text_field :postal_code, :placeholder => form_label(:postal_code)

    = fields_for :store do |store_form|
      %fieldset
        %h2 Store

      %fieldset
        - if edit_view
          = store_form.label :name, (form_label('Store Name'))
        = store_form.text_field :name, :placeholder => (form_label('Store Name'))

      %fieldset
        - if edit_view
          = store_form.label :return_policy, (form_label(:return_policy))
        = store_form.text_area :return_policy, :placeholder => (form_label(:return_policy)), :class => 'input-xlarge', :rows => 5


      - unless edit_view
        %fieldset.checkbox
          = label :store, :terms_of_service do
            By signing up you agree to the GramGoods
            %a{ :href => '/tos', :target => '_blank' } Terms of Service
          = check_box :store, :terms_of_service, :checked => true

    %fieldset
      = form.submit verb_and_store, :class => 'btn btn-large btn-primary'
