%h1 #{@store.name}

- @store.products.each do |product|
  .widget
    = image_tag(product.photos_array.first, :alt => product.name)
    = product.name
    = number_to_currency(product.price)
    = link_to(product.name, store_product_path(@store, product))

= link_to('add product', new_store_product_path(@store))
