.widget
  = link_to('Add Product', new_store_product_path(@store), :class => 'btn btn-primary')
.page-header
  %h1
    #{@store.name}
    %small
      = link_to('Edit', edit_store_path(@store))
.btn.btn-success
  = pluralize(@store.products.length, 'Product', 'Products')
- unless @store.products.empty?
  .product-widgets
    - @store.products.each do |product|
      .product-widget.well
        %h2.product-name
          = link_to(store_product_path(@store, product)) do
            = truncate(product.name, :length => 38)
        - unless product.photos_array.empty?
          .product-image-wrapper
            = image_tag(product.photos_array.first, :alt => product.name, :class => 'product-image')
            %span.product-count
              = pluralize(product.photos_array.length, 'Photo', 'Photos')
        %p.product-description
          = truncate(product.description, :length => 45)
        %p.product-status
          Status: #{product.status}
        %p.product-price
          Price: #{number_to_currency(product.price)}
        - unless product.flatrate_shipping_cost.nil?
          %p.product-shipping
            Shipping: #{number_to_currency(product.flatrate_shipping_cost)}
        - unless product.sizes.empty?
          %p.product-sizes
            Sizes: #{product.sizes}
        - unless product.colors.empty?
          %p.product-colors
            Colors: #{product.colors}
        = link_to(edit_store_product_path(@store, product), :class => 'edit-product', :title => "Edit #{product.name}") do
          %i.icon-cog

        .widget.hide
          = link_to('View', store_product_path(@store, product))
          = link_to('Edit', edit_store_product_path(@store, product))
          = link_to('Delete', {:controller => 'products', :action => 'destroy', :product => product, :store => @store}, :data => { :confirm =>"Are you sure you want to delete #{product.name}?" }, :method => :delete)

