.widget
  = render 'products/form'

.widget
  = link_to('Add Product', new_store_product_path(@store), :class => 'btn btn-primary')
.page-header
  %h1
    #{@store.name}
    %small
      = link_to('Edit', edit_store_path(@store))
.btn.btn-success
  = pluralize(@store.products.length, 'Product', 'Products')
- unless @store.products.empty?
  .product-widgets
