- content_for(:title) { "#{@store.name} | GramGoods" }
- content_for(:header) do
  - if @is_customized_store
    %span.mobile-header-store-logo
      %a{ :href => custom_store_path(@store), :title => @store.name }
        %img{ :src => custom_merchant_logo_src(@store.slug), |
              :alt => @store.name }
  - else
    = @store.name

- if user_owns_store?(@store.id) && @store.products(true).empty?
  = render 'shared/notice', :locals => { :notice => no_products_message(@store) }
- else
  = render 'shared/products'

= render 'shared/footer'
