#registrations_form_wrapper
  = form_for(resource, :as => resource_name, :url => secure_url(registration_path(resource_name)), :html => { :class => 'well', :method => locals[:method] }) do |f|
    = devise_error_messages!

    %fieldset
      .control-group
        = f.label :email, :class => 'control-label'
        .controls
          = f.text_field :email

      .control-group
        = f.label :password, :class => 'control-label'
        .controls
          = f.password_field :password
          - if locals[:method] == :put
            %span.help-inline
              Leave this field blank if you are not changing your password.

      .control-group
        = f.label :password_confirmation, :class => 'control-label'
        .controls
          = f.password_field :password_confirmation
          - if locals[:method] == :put
            %span.help-inline
              Leave this field blank if you are not changing your password.

      .control-group
        = f.label :business_name, :class => 'control-label'
        .controls
          = f.text_field :business_name

      .control-group
        = f.label :website, :class => 'control-label'
        .controls
          = f.text_field :website, :placeholder => 'ex. http://www.gramgoods.com'

      .control-group
        = f.label :first_name, :class => 'control-label'
        .controls
          = f.text_field :first_name

      .control-group
        = f.label :last_name, :class => 'control-label'
        .controls
          = f.text_field :last_name

      .control-group
        = f.label :phone_number, :class => 'control-label'
        .controls
          = f.text_field :phone_number

      .control-group
        = f.label :street_address_1, :class => 'control-label'
        .controls
          = f.text_field :street_address_1

      .control-group
        = f.label :street_address_2, :class => 'control-label'
        .controls
          = f.text_field :street_address_2

      .control-group
        = f.label :city, :class => 'control-label'
        .controls
          = f.text_field :city

      .control-group
        = f.label :state, :class => 'control-label'
        .controls
          = f.select :state, options_for_select(us_states, :selected => @user.state)

      .control-group
        = f.label :postal_code, :class => 'control-label'
        .controls
          = f.text_field :postal_code

      .form-actions
        - if locals[:method] == :put
          = f.submit "Update", :class => 'btn btn-primary'
        - else
          = f.submit "Sign up", :class => 'btn btn-primary'

  - if locals[:method] == :put
    %h3 Cancel my account
    %p Unhappy? #{link_to "Cancel my account", secure_url(registration_path(resource_name)), :data => { :confirm => "Are you sure?" }, :method => :delete }.</p>
    = link_to "Back", :back
  - else
    = render :partial => "devise/shared/links"
