= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :class => 'well', :method => locals[:method] }) do |f|
  = devise_error_messages!

  %fieldset
    = f.label :email
    = f.text_field :email

  %fieldset
    = f.label :password
    - if locals[:method] == :put
      leave blank if not changing
    = f.password_field :password

  %fieldset
    = f.label :password_confirmation
    - if locals[:method] == :put
      leave blank if not changing
    = f.password_field :password_confirmation

  %fieldset
    = f.label :business_name
    = f.text_field :business_name

  %fieldset
    = f.label :website
    = f.text_field :website

  %fieldset
    = f.label :first_name
    = f.text_field :first_name

  %fieldset
    = f.label :last_name
    = f.text_field :last_name

  %fieldset
    = f.label :phone_number
    = f.text_field :phone_number

  %fieldset
    = f.label :street_address_1
    = f.text_field :street_address_1

  %fieldset
    = f.label :street_address_2
    = f.text_field :street_address_2

  %fieldset
    = f.label :city
    = f.text_field :city

  %fieldset
    = f.label :state
    = f.select :state, options_for_select(us_states)

  %fieldset
    = f.label :postal_code
    = f.text_field :postal_code

  %fieldset
    = f.submit "Sign up", :class => 'btn btn-primary'

- if locals[:method] == :put
  %h3 Cancel my account
  %p Unhappy? #{link_to "Cancel my account", registration_path(resource_name), :data => { :confirm => "Are you sure?" }, :method => :delete }.</p>
  = link_to "Back", :back
- else
  = render :partial => "devise/shared/links"
