.mobile-header#mobile_header
  - if content_for?(:header)
    %h3
      = content_for :header
      %button.btn#menu_button
        %i.icon-align-justify
    %ul#menu
      %li
        = link_to 'Home', root_path

      - if user_signed_in?
        - store = current_user.first_store

        %li{ :class => is_create_product_page ? 'on' : nil }

          = link_to 'Create Product',
            new_store_product_path(current_user.first_store)

        %li{ :class => is_user_store_page(store) ? 'on' : nil }
          = link_to store.name, custom_store_path(current_user.first_store)

        - if defined?(@product) && @product.persisted? && user_owns_store?(@product.store.id)
          %li{ :class => is_edit_product_page(@product) ? 'on' : nil }
            = render_edit_product_link(@product, "Edit #{@product.name}")
          %li
            = render_delete_product_link(@product, "Delete #{@product.name}")

        %li{ :class => is_orders_page(store) ? 'on' : nil }
          = link_to "Orders", store_orders_path(store)

        %li{ :class => is_edit_store_page(store) ? 'on' : nil }
          = link_to "Account", custom_store_edit_path(store)

        %li
          %a{ :href => "mailto:#{ADMIN_EMAIL_ADDRESS}" }
            Help

        %li
          = link_to 'Sign Out', destroy_user_session_path

      - else
        = render 'shared/force_instagram_logout_iframe' unless browser_is_instagram?
        %li
          %a{ :href => '/stores/new' } Sign Up

        %li
          %a{ :href => INSTAGRAM_CONFIG['AUTH_URL'] } Sign In

        %li
          %a{ :href => "mailto:#{ADMIN_EMAIL_ADDRESS}" }
            Contact Us

