.mobile-header
  - if content_for?(:header)
    - header_content_length = content_for(:header).length
    - if header_content_length <= 26
      %h3
        = content_for :header
        %button.btn#menu_button
          %i.icon-align-justify
    - else
      %h5
        = content_for :header
        %button.btn#menu_button
          %i.icon-align-justify
    %ul#menu
      - if user_signed_in?
        - store = current_user.first_store
        %li
          = link_to store.name, custom_store_path(current_user.first_store)
          %span
            |
          = link_to "Edit", custom_store_edit_path(current_user.first_store)
        - if defined?(@product) && @product.persisted?
          %li
            = link_to @product.name, |
              custom_product_path(@product.store, @product)
            %span
              |
            = link_to "Edit", |
              custom_product_edit_path(@product.store, @product)
        %li
          = link_to 'Create Product', new_store_product_path(current_user.first_store)

        %li
          = link_to 'Sign Out', destroy_user_session_path
      - else
        = render 'shared/force_instagram_logout_iframe'
        %li
          = link_to 'Home', root_path
        %li
          %a{ :href => '/stores/new' } Sign Up
        %li
          %a{ :href => INSTAGRAM_CONFIG['AUTH_URL'] } Sign In

