.mobile-header
  - if content_for?(:header)
    %h3
      = content_for :header
    .btn-group
      %button.btn#menu_button
        %i.icon-align-justify
    %ul#menu{ :style => 'display: none;' }
      %li this is a work in progress
      - if user_signed_in?
        - store = current_user.first_store
        %li
          = link_to "View #{store.name}", custom_store_path(current_user.first_store)
        %li
          = link_to "Edit #{store.name}", custom_store_edit_path(current_user.first_store)
        %li
          = link_to 'Create Product', new_store_product_path(current_user.first_store)

        %li
          = link_to 'Sign Out', destroy_user_session_path
      - else
        = render 'shared/force_instagram_logout_iframe'
        %li
          = link_to 'Home', root_path
        %li
          %a{ :href => '/stores/new' } Sign Up
        %li
          %a{ :href => INSTAGRAM_CONFIG['AUTH_URL'] } Sign In

