.widget
  %h2 Order Information

  %p.widget
    Order Number: #{locals[:order].id}

  %p.widget
    Product Name: #{locals[:order].line_item.product_name}

  %p.widget
    Product ID: #{locals[:order].line_item.product_id}

  %p.widget
    Quantity: #{locals[:order].line_item.quantity}

  - unless locals[:order].line_item.size.nil?
    %p.widget
      Size: #{locals[:order].line_item.size}

  - unless locals[:order].line_item.color.nil?
    %p.widget
      Color: #{locals[:order].line_item.color}

  - unless locals[:order].line_item.flatrate_shipping_option_cost.nil?
    %p.widget
      #{locals[:order].line_item.flatrate_shipping_option.capitalize} Flatrate Shipping Cost: #{number_to_currency(locals[:order].line_item.flatrate_shipping_option_cost)}

  %p.widget
    Price: #{number_to_currency(locals[:order].line_item.price)}

  %p.widget
    Total: #{number_to_currency(locals[:order].line_item.total)}

.widget
  %h2 Recipient Information
  %p.widget
    First Name: #{locals[:order].recipient.first_name}
  %p.widget
    Last Name: #{locals[:order].recipient.last_name}
  %p.widget
    Email Address: #{locals[:order].recipient.email_address}
  %p.widget
    Street Address One: #{locals[:order].recipient.street_address_one}
  - unless locals[:order].recipient.street_address_two.nil?
    %p.widget
      Street Address Two: #{locals[:order].recipient.street_address_two}
  %p.widget
    City: #{locals[:order].recipient.city}
  %p.widget
    State: #{locals[:order].recipient.state}
  %p.widget
    Postal Code: #{locals[:order].recipient.postal_code}
  %p.widget
    Country: #{locals[:order].recipient.country}



