.products.widget
  - @products.each do |product|
    .product{ :data => { :slug => product.slug }}
      .product-left
        = image_tag("#{product.photos_array.first}", :class => 'product-thumbnail')
      .product-middle
        - if locals[:show_store_name] == true
          .store-name
            = product.store.name
        .product-name
          = product.name
        .product-button.product-price
          = number_to_currency(product.price)
      .product-right
        .product-link
          - url = conditional_layout_link(params, product.store.slug + '/' + product.slug)
          = link_to('', url, :title => "View #{product.name}")
