.products.widget
  - @products.each do |product|
    - user_owns_store = user_owns_store?(product.store_id)
    .product{ :data => {  :"store-slug" => product.store.slug, |
                          :"product-slug" => product.slug, |
                          :"instagram-tag" => product.get_instagram_tag, |
                          :'user-owns-store' => user_owns_store ? 'true' : 'false' }}
      .product-left
        %p.loading Loading...
      .product-middle
        .store-name
          = product.store.name
        .product-name
          = product.name
        .product-button.product-price
          = number_to_currency(product.price)
        .product-like-count.hide
      .product-right
        - if user_owns_store
          .owner-action
            = link_to 'View', custom_product_path(product.store, product)
          .owner-action
            = link_to 'Edit', custom_product_edit_path(product.store, product)
          .owner-action
            = link_to 'Delete', store_product_path(product.store.slug, product.slug),
                      :method => :delete,
                      :confirm => "Are you sure you want to delete #{product.name}?"
          .owner-action
            = product.status
        - else
          .product-link
            = link_to('', custom_product_path(product.store, product), :title => "View #{product.name}")

.widget.mobile-footer
  = will_paginate @products,
    :renderer => BootstrapPagination::Rails,
    :page_links => false

