.products.widget
  - @products.each do |product|
    .product{ :data => {  :"store-slug" => product.store.slug, |
                          :"instagram-tag" => product.get_instagram_tag, |
                          :"product-slug" => product.slug }}
      .product-left
        Loading...
      .product-middle
        - if locals[:show_store_name] == true
          .store-name
            = product.store.name
        .product-name
          = product.name
        .product-button.product-price
          = number_to_currency(product.price)
      .product-right
        - product_url = conditional_layout_link(params,
                                                custom_product_path(product.store,
                                                                    product))
        - if user_owns_store? product.store_id
          = link_to 'Edit', custom_product_edit_path(product.store, product)
        .product-link
          = link_to('', product_url, :title => "View #{product.name}")
  %a.widget.desktop-link{ :href => '/?layout=desktop' } Looking for the desktop version of GramGoods?


