.products.widget
  - @products.each do |product|
    - user_owns_store = user_owns_store?(product.store_id)
    .product{ :data => {  :"store-slug" => product.store.slug, |
                          :"product-slug" => product.slug, |
                          :"instagram-tag" => product.get_instagram_tag, |
                          :'user-owns-store' => user_owns_store ? 'true' : 'false' }}
      .product-left
        Loading...
      .product-middle
        - if locals[:show_store_name] == true
          .store-name
            = product.store.name
        .product-name
          = product.name
        .product-button.product-price
          = number_to_currency(product.price)
      .product-right
        - product_url = conditional_layout_link(params,
                                                custom_product_path(product.store,
                                                                    product))
        - if user_owns_store
          = link_to 'View', custom_product_path(product.store, product)
          = link_to 'Edit', custom_product_edit_path(product.store, product)
          = link_to 'Delete', store_product_path(product.store.slug, product.slug),
                    :method => :delete,
                    :confirm => "Are you sure you want to delete #{product.name}?"
        - else
          .product-link
            = link_to('', product_url, :title => "View #{product.name}")
  - unless user_signed_in?
    .widget.products-footer
      = render 'shared/force_instagram_logout_iframe'
      %a{ :href => '/stores/new' } Sign Up
      |
      %a{ :href => INSTAGRAM_CONFIG['AUTH_URL'] } Sign In



