.products.widget
  - @products.each do |product|
    - user_owns_store = user_owns_store?(product.store_id)
    .product{ :data => {  :"store-slug" => product.store.slug, |
                          :"product-slug" => product.slug, |
                          :"instagram-tag" => product.get_instagram_tag, |
                          :'user-owns-store' => user_owns_store ? 'true' : 'false' }}
      .product-left
        %p.loading Loading...
      .product-middle
        .product-name
          .mobile-wrapper
            = product.name
          .desktop-wrapper
            %a{ :href => custom_product_path(product.store, product),
              :title => product.name }
              = product.name
        .store-name
          .mobile-wrapper
            = product.store.name
          .desktop-wrapper
            %a{ :href => custom_store_path(product.store), |
              :title => product.store.name }
              = product.store.name
        .product-button.product-price
          = number_to_currency(product.price)
        .product-like-count.hide
      .product-right
        - if user_owns_store
          - btn_size_class = !mobile_device? ? 'btn-primary' : 'btn-mini'
          .owner-action
            .btn.btn-primary{ :class => btn_size_class }
              = render_show_product_link(product)
          .owner-action
            .btn.btn-primary{ :class => btn_size_class }
              = render_edit_product_link(product)
          .owner-action
            .btn.btn-primary{ :class => btn_size_class }
              = render_delete_product_link(product)
          .owner-action
            .btn.btn-primary{ :disabled => 'disabled', |
              :class => "#{product_status_class(product)} #{btn_size_class}" }
              = product.status
        - else
          .product-link
            = render_show_product_link(product, '')

- if @products.length >= 5
  .widget.mobile-footer
    = will_paginate @products,
      :renderer => BootstrapPagination::Rails,
      :page_links => false

