= form_for([@store, @order], :html => { :id => 'order_form', :class => 'order-form mobile-form' }) do |form|
  - if @order.errors.any?
    .form-errors-wrapper
      = render 'shared/form_errors', :target => @order
  %div
    %legend Order Details
    = form.fields_for :line_item do |line_item|
      = line_item.hidden_field :product_id, :value => @product.id
      = line_item.hidden_field :quantity, :value => @quantity
      - unless @size.nil?
        = line_item.hidden_field :size, :value => @size
      - unless @color.nil?
        = line_item.hidden_field :color, :value => @color
      - unless @flatrate_shipping_option.nil?
        = line_item.hidden_field :flatrate_shipping_option, :value => @flatrate_shipping_option
        = line_item.hidden_field :flatrate_shipping_option_cost, :value => @flatrate_shipping_option_cost

    %fieldset
      %p
        Quantity: #{@quantity}
        - unless @product.quantity == 1
          %a.edit-quantity{ :href => "/#{@store.slug}/#{@product.slug}#quantity" } edit

    - unless @color.nil?
      %fieldset
        %p
          Color: #{@color}
          - unless @product.colors.length == 1
            %a.edit-quantity{ :href => "/#{@store.slug}/#{@product.slug}#color" } edit

    - unless @size.nil?
      %fieldset
        %p
          Size: #{@size}
          - unless @product.sizes.length == 1
            %a.edit-quantity{ :href => "/#{@store.slug}/#{@product.slug}#size" } edit

    - unless @flatrate_shipping_option.nil?
      %fieldset
        %p
          #{@flatrate_shipping_option.capitalize} Flatrate Shipping Cost: #{number_to_currency(@flatrate_shipping_option_cost)}
          - unless @product.flatrate_shipping_options.length == 1
            %a.edit-quantity{ :href => "/#{@store.slug}/#{@product.slug}#flatrate_shipping_option" } edit


    - unless @international_flatrate_shipping_cost.nil?
      %fieldset
        %p International Flat Rate Shipping Cost: #{number_to_currency(@international_flatrate_shipping_cost)}

    %fieldset
      %p Price: #{number_to_currency(@price)}

    %fieldset
      %p Total: #{number_to_currency(@total)}

  %div
    = form.fields_for :recipient do |recipient|
      %legend Shipping Information
      %fieldset
        = recipient.text_field :first_name, :placeholder => "First Name*"
      %fieldset
        = recipient.text_field :last_name, :placeholder => "Last Name*"
      %fieldset
        = recipient.email_field :email_address, :placeholder => "Email Address*"
      %fieldset
        = recipient.text_field :street_address_one, :placeholder => "Street Address One*"
      %fieldset
        = recipient.text_field :street_address_two, :placeholder => "Street Address Two"
      %fieldset
        = recipient.text_field :city, :placeholder => "City*"
      %fieldset
        = recipient.text_field :state, :placeholder => "State / Province / Region*"
      %fieldset
        = recipient.text_field :postal_code, :placeholder => "Zip / Postal Code*"
      %fieldset
        = recipient.select :country, options_for_select(countries)

  %div
    %legend#billing_information_legend Billing Information
    %fieldset
      %input#credit_card_number{ :type => "tel", :placeholder => "Credit Card Number*" }
    %fieldset
      = select_tag(nil, options_for_select(credit_card_months), :id => 'credit_card_expiration_month')
    %fieldset
      = select_tag(nil, options_for_select(credit_card_years), :id => 'credit_card_expiration_year')
    %fieldset
      = form.submit 'Submit Order', :id => 'order_form_submit', :class => 'btn btn-large btn-primary'
