= form_for([@store, @order], :html => { :id => 'order_form', :class => 'order-form mobile-form' }) do |form|
  - if @order.errors.any?
    .form-errors-wrapper
      = render 'shared/form_errors', :target => @order
  %div
    %legend Order Details
    = form.fields_for :line_item do |line_item|
      = line_item.hidden_field :product_id, :value => @product.id
      = line_item.hidden_field :quantity, :value => @quantity
      - unless @size.nil?
        = line_item.hidden_field :size, :value => @size
      - unless @color.nil?
        = line_item.hidden_field :color, :value => @color

    %fieldset
      %p
        Quantity: #{@quantity}
        %a.edit-quantity{ :href => "/#{@store.slug}/#{@product.slug}#quantity" } edit

    - unless @color.nil?
      %fieldset
        %p
          Color: #{@color}
          %a.edit-quantity{ :href => "/#{@store.slug}/#{@product.slug}#color" } edit

    - unless @size.nil?
      %fieldset
        %p
          Size: #{@size}
          %a.edit-quantity{ :href => "/#{@store.slug}/#{@product.slug}#size" } edit

    - unless @flatrate_shipping_cost.nil?
      %fieldset
        %p Flat Rate Shipping Cost: #{number_to_currency(@flatrate_shipping_cost)}

    %fieldset
      %p Price: #{number_to_currency(@price)}

    %fieldset
      %p Total: #{number_to_currency(@total)}

  %div
    = form.fields_for :recipient do |recipient|
      %legend Shipping Information
      %fieldset
        = recipient.text_field :first_name, :placeholder => "First Name*"
      %fieldset
        = recipient.text_field :last_name, :placeholder => "Last Name*"
      %fieldset
        = recipient.email_field :email_address, :placeholder => "Email Address*"
      %fieldset
        = recipient.text_field :street_address_one, :placeholder => "Street Address One*"
      %fieldset
        = recipient.text_field :street_address_two, :placeholder => "Street Address Two"
      %fieldset
        = recipient.text_field :city, :placeholder => "City*"
      %fieldset
        = recipient.select :state, options_for_select(us_states)
      %fieldset
        = recipient.text_field :postal_code, :placeholder => "Postal Code*"

  %div
    %legend#billing_information_legend Billing Information
    %fieldset
      %input#credit_card_number{ :type => "tel", :placeholder => "Credit Card Number*" }
    %fieldset
      = select_tag(nil, options_for_select(credit_card_months), :id => 'credit_card_expiration_month')
    %fieldset
      = select_tag(nil, options_for_select(credit_card_years), :id => 'credit_card_expiration_year')
    %fieldset
      = form.submit 'Create Order', :id => 'order_form_submit'
