- content_for(:title) { 'Order Confirmation | GramGoods' }
- content_for(:header) { 'Order Confirmation' }

= render 'shared/notice', :locals => { :notice => 'Your order has been submitted successfully.' }

.order-details.widget
  = render 'shared/order_confirmation', :locals => { :order => @order,
                                                   :product => @product }

  .widget
    %h2 Contact
    %p.widget
      %a{ :href => "mailto: #{@order.store.user.email}"}
        #{@order.store.name}
    %p.widget
      %a{ :href => 'mailto: admin@gramgoods.com' } GramGoods

  .widget
    %h2 Return Policy
    %p
      = @order.store.return_policy

  .widget
    %p.widget
      %a{ :href => "/#{@order.store.slug}" }
        Back to #{@order.store.name}
    %p.widget
      = link_to 'Back to GramGoods', root_path
