<!DOCTYPE HTML>
<html lang="en">

    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
        <link href="//fonts.googleapis.com/css?family=Limelight|Flamenco|Federo|Yesteryear|Josefin Sans|Spinnaker|Sansita One|Handlee|Droid Sans|Oswald:400,300,700"
        media="screen" rel="stylesheet" type="text/css" />
        <link href="//s3.amazonaws.com/<%= S3_BUCKET %>/assets/static/bootstrap.css"
        media="screen" rel="stylesheet" type="text/css" />
        <link href="//s3.amazonaws.com/<%= S3_BUCKET %>/assets/static/bootstrap-responsive.css"
        media="screen" rel="stylesheet" type="text/css" />
        <link href="//s3.amazonaws.com/<%= S3_BUCKET %>/assets/static/fontawesome.css"
        media="screen" rel="stylesheet" type="text/css" />
        <link href="//s3.amazonaws.com/<%= S3_BUCKET %>/assets/static/style.css"
        media="screen" rel="stylesheet" type="text/css" />
        <title>GramGoods</title>
    </head>

    <body>
        <div id="page-wrapper">
          <img class="image" src="//s3.amazonaws.com/<%= S3_BUCKET %>/assets/static/image.png" />
            <div class="text"></div>
            <a href="/users/auth/instagram" class="basic-ok-button basic-ok-button-1"><span class="span-1">Sign In&nbsp;</span>
            </a>
            <div class="text-1"></div>
            <div class="text-2"></div>
            <a href="/stores/new" class="basic-ok-button basic-ok-button-2"><span class="span-1">Sign Up&nbsp;</span>
            </a>
            <div class="rectangle"></div>
            <div class="text-3"></div>
            <p class="textarea"></p>
             <h2 class="dom-heading">
        <br>
      </h2>

            <p class="textarea-1"></p>
            <p class="textarea-2"></p>
            <div class="text-4"></div>
            <p class="textarea-3"></p>
            <div class="text-5">Customers can instantly purchase from their
                <br/>
            </div>
            <div class="text-6">GramGoods is a simple and quick way to sell
                <br/>
            </div>
            <div class="text-7">mobile devices.
                <br/>
            </div>
            <img class="image-1" src="//s3.amazonaws.com/<%= S3_BUCKET %>/assets/static/image-1.png" />
            <div class="text-8">
                <br/>
            </div>
            <div class="text-9">
                <br/>
            </div>
            <div class="text-10">
                <br/>
            </div>
            <div class="text-12">
                <br/>
            </div>
            <div class="rectangle-1"></div>
            <div class="text-13">3 EASY STEPS TO SELL YOUR PRODUCTS</div>
            <div class="oval">
                <div class="text-14">1</div>
            </div>
            <div class="text-15">Post Photo to Instagram</div>
            <img class="image-2" src="//s3.amazonaws.com/<%= S3_BUCKET %>/assets/static/image-2.png" />
            <div class="oval-1">
                <div class="text-16">2</div>
            </div>
            <div class="text-17">Create a Product</div>
            <div class="text-18">Sell and Ship</div>
            <img class="image-3" src="//s3.amazonaws.com/<%= S3_BUCKET %>/assets/static/image-3.png" />
            <div class="oval-2">
                <div class="text-19">3</div>
            </div>
            <img class="image-4" src="//s3.amazonaws.com/<%= S3_BUCKET %>/assets/static/image-4.png" />
            <a href='/stores/new'>
              <button class="basic-ok-button basic-ok-button-3">GET STARTED NOW</button>
            </a>
            <div class="rectangle-2"></div>

            <i class="icon icon-time icon-1">
              <img src="//s3.amazonaws.com/<%= S3_BUCKET %>/assets/static/clock.png" alt='Setup and create products in under two minutes.' />
            </i>
            <p class="textarea-4">Setup and create products in under two minutes.</p>

            <i class="icon icon-tags icon-2">
              <img src="//s3.amazonaws.com/<%= S3_BUCKET %>/assets/static/tag.png" alt='Only 5% per transaction and no upfront fees.' />
            </i>
            <p class="textarea-5">Only 5% per transaction and no upfront fees.</p>

            <i class="icon icon-cog icon-3">
              <img src="//s3.amazonaws.com/<%= S3_BUCKET %>/assets/static/gear.png" alt='Custom branding and colors available for your store.' />
            </i>
            <p class="textarea-6">Custom branding and colors available for your store.</p>

            <i class="icon icon-user icon-4">
              <img src="//s3.amazonaws.com/<%= S3_BUCKET %>/assets/static/instagram.png" alt='Your customers can purchase right from Instagram.' />
            </i>
            <p class="textarea-7">Your customers can purchase right from Instagram.</p>

                    <div class="rectangle-3"></div>
                    <div class="text-20">FEATURED CLIENTS</div>
                    <img class="image-5" src="//s3.amazonaws.com/<%= S3_BUCKET %>/assets/static/image-5.jpeg" />
                    <img class="image-6" src="//s3.amazonaws.com/<%= S3_BUCKET %>/assets/static/image-6.jpeg" />
                    <img class="image-7" src="//s3.amazonaws.com/<%= S3_BUCKET %>/assets/static/image-7.jpeg" />
                    <a href='/products'>
                      <button class="basic-ok-button basic-ok-button-4">VIEW RECENT PRODUCTS</button>
                    </a>
        </div>

        <iframe src="https://instagram.com/accounts/logout/" style='display: none;'></iframe>
    </body>

</html>
