- product = locals[:product]
- options = product.flatrate_shipping_options

- unless options.empty?
  - if options.length > 1
    .widget
      %h3 Flatrate Shipping Options
      %select.input-xxlarge#size
        - options.each do |option|
          - cost = product.send("#{option}_flatrate_shipping_cost")
          %option{ :value => cost }
            = "#{option.capitalize} - #{ number_to_currency(cost) }"
  - else
    - flatrate_shipping_option = options.first
    = render 'flatrate_shipping_option', locals: { product: product, flatrate_shipping_option: flatrate_shipping_option }
