- flatrate_shipping_label = form_label("#{flatrate_shipping_option.capitalize} Flatrate Shipping Price", false, ' (e.g. 9.99)')

%fieldset
  - if edit_view
    = form.label "#{flatrate_shipping_option}_flatrate_shipping_cost".to_sym, flatrate_shipping_label
  = form.text_field "#{flatrate_shipping_option}_flatrate_shipping_cost".to_sym, :type => 'text', :placeholder => flatrate_shipping_label

