= form_for([@store, @product], :html => { :class => 'well form-horizontal' }) do |form|
  .form-errors-wrapper
    = render 'shared/form_errors', :target => @product
  = form.hidden_field :photos
  %fieldset.float-left
    .control-group
      = form.label :name, :class => 'control-label'
      .controls
        = form.text_field :name, :class => 'input-xlarge'
    .control-group
      = form.label :instagram_tag, :class => 'control-label'
      .controls
        = form.text_field :instagram_tag, :class => 'input-xlarge'
    .control-group
      = form.label :description, :class => 'control-label'
      .controls
        = form.text_area :description, :class => 'input-xlarge', :rows => 5
    .control-group
      = form.label :price, :class => 'control-label'
      .controls
        = form.text_field :price, :class => 'input-xlarge'
  %fieldset.float-left
    .control-group
      = form.label :quantity, :class => 'control-label'
      .controls
        = form.text_field :quantity, :class => 'input-xlarge', :disabled => (@product.unlimited_quantity == true ? 'disabled' : nil), :value => (@product.unlimited_quantity == true ? '' : @product.quantity)
    .control-group
      = form.label :unlimited_quantity, 'Unlimited Quantity', :class => 'control-label'
      .controls
        = form.check_box :unlimited_quantity, :class => 'product-unlimited-quantity'
    .control-group
      = form.label :colors, :class => 'control-label'
      .controls
        = form.text_field :colors, :class => 'input-xlarge'
    .control-group
      = form.label :sizes, :class => 'control-label'
      .controls
        = form.text_field :sizes, :class => 'input-xlarge'
    .control-group
      = form.label :flatrate_shipping_cost, :class => 'control-label'
      .controls
        = form.text_field :flatrate_shipping_cost, :class => 'input-xlarge'
    .control-group
      = form.label :status, :class => 'control-label'
      .controls
        = form.select :status, ['Draft', 'Active', 'Out of Stock']
  %fieldset.widget
    .control-group
      %h2 Product Photos
      .product-photos
        = render 'products/product_photos', :locals => { :product => @product, :product_photos => get_instagram_photo_feed_for_user(current_user), :source => 'dynamic' }
  .form-actions.widget
    = form.submit :class => 'btn btn-primary'
