= render 'shared/form_errors', :target => @product

= form_for(@product, :html => { :class => 'product-form' }) do |form|
  = form.hidden_field :store_id
  = form.hidden_field :photos
  %fieldset
    = form.label :name
    = form.text_field :name
  %fieldset
    = form.label :instagram_tag
    = form.text_field :instagram_tag
  %fieldset
    = form.label :description
    = form.text_field :description
  %fieldset
    = form.label :price
    = form.text_field :price
  %fieldset
    = form.label :quantity
    = form.text_field :quantity
  %fieldset
    = form.label :colors
    = form.text_field :colors
  %fieldset
    = form.label :sizes
    = form.text_field :sizes
  %fieldset
    = form.label :flatrate_shipping_cost
    = form.text_field :flatrate_shipping_cost
  %fieldset
    = form.label :status
    = form.select :status, ['Draft', 'Active', 'Out of Stock']
  %fieldset
    .product-photos
      %h2 Click a photo to attach it to the product
      = render 'product_photos', :locals => { :product => @product, :product_photos => get_instagram_photo_feed_for_user(@user) }
  %fieldset
    = form.submit

