= form_for([@store, @product]) do |product_form|
  .form-errors-wrapper
    = render 'shared/form_errors', :target => @product

  %fieldset
    = product_form.label :name
    = product_form.text_field :name

  = product_form.fields_for(:instagram_tag) do |instagram_tag_form|
    %fieldset
      = instagram_tag_form.label :instagram_tag
      = instagram_tag_form.text_field :instagram_tag

  %fieldset
    = product_form.label :description
    = product_form.text_area :description

  %fieldset
    = product_form.label :price
    = product_form.text_field :price

  %fieldset
    = product_form.label :quantity
    = product_form.text_field :quantity

  = product_form.fields_for(:colors) do |colors_form|
    %fieldset
      = colors_form.label :color
      = colors_form.text_field :color

  = product_form.fields_for(:sizes) do |sizes_form|
    %fieldset
      = sizes_form.label :size
      = sizes_form.text_field :size

  %fieldset
    = product_form.label :unlimited_quantity
    = product_form.check_box :unlimited_quantity

  %fieldset
    = product_form.label :flatrate_shipping_cost
    = product_form.text_field :flatrate_shipping_cost

  %fieldset
    = product_form.label :status
    = product_form.select :status,
                          options_for_select(['Draft', 'Active', 'Out of Stock'],
                                             @product.status)

  %fieldset
    = product_form.submit
