- edit_view = locals[:action] == 'Edit'
- post_to_instagram_prefix = locals[:action] == 'Edit' ? 'Update' : 'Create'

= form_for([@store, @product], :html => { :class => 'mobile-form' }) do |product_form|
  = alert
  = notice
  - if @product.errors.any?
    .form-errors-wrapper
      = render 'shared/form_errors', :target => @product

  %div
    %legend
      - if locals[:action] == 'Edit'
        Edit #{@product.name}
      - else
        Create Product

    %fieldset
      - if edit_view
        = product_form.label :name, (form_label(:name))
      = product_form.text_field :name, :placeholder => (form_label(:name))

    = product_form.fields_for(:instagram_tag) do |instagram_tag_form|
      %fieldset
        - instagram_tag_message = ' (e.g. #blue_jeans)'
        - instagram_tag_custom_label = form_label('Instagram Hashtag',
                                                    true, instagram_tag_message)
        - instagram_value = edit_view ? "##{@product.get_instagram_tag}" : nil
        - if edit_view
          = instagram_tag_form.label :instagram_tag, instagram_tag_custom_label
        = instagram_tag_form.text_field :instagram_tag, |
                                        :value => instagram_value, |
                                        :placeholder => instagram_tag_custom_label

    %fieldset
      - if edit_view
        = product_form.label :description, (form_label(:description))
      = product_form.text_area :description, |
                               :placeholder => (form_label(:description)),
                               :rows => 5

    %fieldset
      - if edit_view
        = product_form.label :price, (form_label(:price))
      = product_form.text_field :price, :type => 'number', |
                                :placeholder => (form_label(:price, true, ' (e.g. $9.99)'))

    %fieldset
      - if edit_view
        = product_form.label :quantity, (form_label(:quantity, false))
      = product_form.text_field :quantity, :type => 'tel', |
        :disabled => (@product.unlimited_quantity ? 'disabled' : nil), |
        :placeholder => (form_label(:quantity, false))

    %fieldset
      %span *Quantity is required unless Unlimited Quantity has been selected.
    %fieldset
      = product_form.label :unlimited_quantity, (form_label(:unlimited_quantity, false))
      = product_form.check_box :unlimited_quantity

    = product_form.fields_for(:colors) do |colors_form|
      %fieldset
        - if edit_view
          = colors_form.label :color, (form_label(:color, false))
        = colors_form.text_field :color, :placeholder => (form_label(:color, false))

    = product_form.fields_for(:sizes) do |sizes_form|
      %fieldset
        - if edit_view
          = sizes_form.label :size, (form_label(:size, false))
        = sizes_form.text_field :size, :placeholder => (form_label(:size, false))

    %fieldset
      - if edit_view
        = product_form.label :flatrate_shipping_cost, (form_label(:flatrate_shipping_cost, false))
      = product_form.text_field :flatrate_shipping_cost, |
                                :type => 'number',
                                :placeholder => (form_label(:flatrate_shipping_cost, false, ' (e.g. $9.99)'))

    %fieldset
      = product_form.label :status, (form_label(:status))
      = product_form.select :status,
                            options_for_select(Product.order_status_array,
                                               @product.status ||= 'Active')

    %fieldset
      = product_form.submit

    - if mobile_device_is_iOS?
      %fieldset
        = product_form.submit "#{post_to_instagram_prefix} Product and Post to Instagram", :name => 'post_to_instagram'
