- configure_instagram(@user.authentications.first.uid, @user.authentications.first.access_token)
- tags = (Instagram.user_recent_media).find_all do |tag|
  - !tag['tags'].empty? && tag['tags'].include?(@product.instagram_tag)
- tags = tags.map { |tag| product_photo_url(tag) }
- tags = tags.concat(@product.photos.split(',')).uniq
.product-photos
  - tags.each do |tag|
    = image_tag(tag, :class => 'product-photo')
- Instagram.reset


.widget
  Name:
  = @product.name
.widget

  Description:
  = @product.description

.widget
  Price:
  = @product.price

.widget
  Quantity:
  = @product.quantity

.widget
  Status:
  = @product.status

.widget
  Instagram Tag:
  = @product.instagram_tag

- if @product.colors
  .widget
    Colors:
    = @product.colors

- if @product.sizes
  .widget
    Sizes:
    = @product.sizes

- if @product.flatrate_shipping_cost
  .widget
    Flat Rate Shipping Cost:
    = @product.flatrate_shipping_cost


= link_to('edit', edit_store_product_path(@store, @product))
= link_to('back to store', store_path(@store))
