- content_for(:title) { "#{@product.name} | GramGoods" }
- content_for(:header) do
  - if @is_customized_store
    %span.mobile-header-store-logo
      %a{ :href => custom_store_path(@product.store), :title => @product.store.name }
        %img{ :src => custom_merchant_logo_src(@product.store.slug), |
              :alt => @product.store.name }
  - else
    = @store.name


#order_form.hide
#success_screen.hide
.product-detail
  .product{ :data => {  :'store-slug' => @product.store.slug, |
                        :'instagram-tag' => @product.get_instagram_tag }}
    .product-top.widget

      .product-thumbnail-gallery
        %h2.loading
          Loading...
      - if @is_customized_store
        .product-name
          %h1 #{@product.name}

      %h3
        .product-like-count.hide
      .mobile-wrapper
        .product-button.product-details
          See Product Details
    .product-bottom.widget
      .widget
        %h3 Merchant
        %p
          #{link_to @product.store.name, custom_store_path(@product.store)}
          |
          #{link_to 'Return Policy', return_policy_store_path(@product.store)}

      .widget
        %h3 Description
        %p
          = @product.description

      - if @product.is_orderable
        - if (@product.unlimited_quantity != true) && (@product.quantity == 1)
          %input#quantity{ :type => 'hidden', :value => 1 }
        - else
          .widget
            %h3 Quantity
            - if @product.unlimited_quantity
              %input.input-xxlarge#quantity{ :type => 'tel', :placeholder => 'Enter a Quantity' }
            - else
              %select.input-xxlarge#quantity
                - (1..@product.quantity.to_i).each do |n|
                  %option{ :value => n }
                    = n
        - unless @product.colors.empty?
          .widget
            %h3 Color
            - if @product.colors.length == 1
              %p #{@product.colors.first.color}
              %input#color{ :type => 'hidden', |
                            :value => @product.colors.first.color }
            - else
              %select.input-xxlarge#color
                - @product.colors.each do |color|
                  %option{ :value => color.color }
                    = color.color
        - unless @product.sizes.empty?
          .widget
            %h3 Size
            - if @product.sizes.length == 1
              %p #{@product.sizes.first.size}
              %input#size{ :type => 'hidden', |
                            :value => @product.sizes.first.size }
            - else
              %select.input-xxlarge#size
                - @product.sizes.each do |size|
                  %option{ :value => size.size }
                    = size.size

      - unless @product.flatrate_shipping_cost.nil?
        .widget
          %h3 Flat Rate Shipping Cost
          -# using hypens in data-attr to satiate zepto's .data() methed
          %p#flatrate_shipping_cost{ :data => { :"flatrate-shipping-cost" => number_with_precision(@product.flatrate_shipping_cost, :precision => 2) }}
            = number_to_currency(@product.flatrate_shipping_cost)

      - if @product.is_orderable
        - price = number_to_currency(@product.price)
        = link_to("Buy Now #{price}", 'javascript: void(0);', |
          :id => 'redirect_to_order_form', |
          :class => 'product-button product-purchase', |
          :data => { :'js-handle' => 'true' })
      - else
        .widget
          %h3 This product is currently out of stock.
