- content_for(:title) { "#{@product.name} | GramGoods" }
- content_for(:header) do
  %h1
    %a{ :href => "/#{@store.slug}" } #{@store.name}
    - if user_signed_in? && user_owns_store?(@store.id)
      %br
      = link_to 'Logout', destroy_user_session_path
      |
      = link_to 'Delete', store_product_path(@product.store.slug, @product.slug),
                :method => :delete,
                :confirm => "Are you sure you want to delete #{@product.name}?"
      |
      = link_to 'Edit', custom_product_edit_path(@store, @product)
      |
      = link_to 'Create Product', new_store_product_path(@store.slug)

#order_form.hide
#success_screen.hide
.product-detail
  .product{ :data => {  :'store-slug' => @product.store.slug, |
                        :'instagram-tag' => @product.get_instagram_tag }}
    .product-top.widget
      .product-thumbnail-gallery
        Loading...
      %h1.product-name
        = @product.name
      .product-like-count.hide
      .product-button.product-details
        See Product Details
    .product-bottom.widget
      .widget
        %h2 Description
        %p
          = @product.description
      .widget
        %h2 Instagram Hashtag
        %p
          = @product.get_instagram_tag(true)

      - if @product.is_orderable
        - if (@product.unlimited_quantity != true) && (@product.quantity == 1)
          %input#quantity{ :type => 'hidden', :value => 1 }
        - else
          .widget
            %h2 Quantity
            - if @product.unlimited_quantity
              %input#quantity{ :type => 'number', :placeholder => 'Enter a Quantity' }
            - else
              %select#quantity
                - (1..@product.quantity.to_i).each do |n|
                  %option{ :value => n }
                    = n
        - unless @product.colors.empty?
          .widget
            %h2 Color
            - if @product.colors.length == 1
              %p #{@product.colors.first.color}
              %input#color{ :type => 'hidden', |
                            :value => @product.colors.first.color }
            - else
              %select#color
                - @product.colors.each do |color|
                  %option{ :value => color.color }
                    = color.color
        - unless @product.sizes.empty?
          .widget
            %h2 Size
            - if @product.sizes.length == 1
              %p #{@product.sizes.first.size}
              %input#size{ :type => 'hidden', |
                            :value => @product.sizes.first.size }
            - else
              %select#size
                - @product.sizes.each do |size|
                  %option{ :value => size.size }
                    = size.size

      - unless @product.flatrate_shipping_cost.nil?
        .widget
          %h2 Flat Rate Shipping Cost
          -# using hypens in data-attr to satiate zepto's .data() methed
          %p#flatrate_shipping_cost{ :data => { :"flatrate-shipping-cost" => number_with_precision(@product.flatrate_shipping_cost, :precision => 2) }}
            = number_to_currency(@product.flatrate_shipping_cost)

      - if @product.is_orderable
        - price = number_to_currency(@product.price)
        = link_to("Buy Now #{price}", 'javascript: void(0);', |
          :id => 'redirect_to_order_form', |
          :class => 'product-button product-purchase', |
          :data => { :'js-handle' => 'true' })
      - else
        .widget
          %h2 This product is currently out of stock.
