- content_for(:title) { "#{@product.name} | GramGoods" }
- content_for(:header) do
  %a{ :href => "/#{@store.slug}" } #{@store.name}

#order_form.hide
#success_screen.hide
.product-detail
  .product
    .product-top.widget
      .product-thumbnail-gallery
        - @product.photos_array.each_with_index do |product_photo, index|
          = image_tag("#{product_photo}",
            :class => index == 0 ? 'product-thumbnail on' : 'product-thumbnail hide',
            :data => { :index => index })
        .product-gallery-controls.invisible
          - @product.photos_array.each_with_index do |product_photo, index|
            %a.product-gallery-control{ :href => 'javascript: void(0);', |
            :class => index == 0 ? 'on' : nil, :data => { :index => index } }
      %h1.product-name
        = @product.name
      - if @product.like_count > 0
        .product-like-count
          #{@product.like_count} likes
      .product-button.product-details
        See Product Details
    .product-bottom.widget
      .widget
        %h2 Description
        %p
          = @product.description

      - if @product.is_orderable
        .widget
          %h2 Quantity
          - if @product.unlimited_quantity
            %input#quantity{ :type => 'number', :placeholder => 'Enter a Quantity' }
          - else
            %select#quantity
              - (1..@product.quantity.to_i).each do |n|
                %option{ :value => n }
                  = n
        - unless @product.colors.empty?
          .widget
            %h2 Color
            %select#color
              - @product.colors.each do |color|
                %option{ :value => color.color }
                  = color.color
        - unless @product.sizes.empty?
          .widget
            %h2 Size
            %select#size
              - @product.sizes.each do |size|
                %option{ :value => size.size }
                  = size.size

      - unless @product.flatrate_shipping_cost.nil?
        .widget
          %h2 Flat Rate Shipping Cost
          -# using hypens in data-attr to satiate zepto's .data() methed
          %p#flatrate_shipping_cost{ :data => { :"flatrate-shipping-cost" => number_with_precision(@product.flatrate_shipping_cost, :precision => 2) }}
            = number_to_currency(@product.flatrate_shipping_cost)

      - if @product.is_orderable
        = link_to("Buy Now #{number_to_currency(@product.price)}", 'javascript: void(0);', :id => 'redirect_to_order_form', :class => 'product-button product-purchase')
      - else
        .widget
          %h2 This product is currently out of stock.
