.page-header
  %h1
    = @product.name
    %small
      = link_to('Edit', edit_store_product_path(@store, @product))
.widget
  Description:
  = @product.description

.widget
  Price:
  = number_to_currency(@product.price)

.widget
  Quantity:
  = @product.get_quantity

.widget
  Status:
  = @product.status

.widget
  Instagram Tag:
  = @product.instagram_tag

- unless @product.colors.nil?
  .widget
    Colors:
    = @product.colors

- unless @product.sizes.nil?
  .widget
    Sizes:
    = @product.sizes

- unless @product.flatrate_shipping_cost.nil?
  .widget
    Flat Rate Shipping Cost:
    = number_to_currency(@product.flatrate_shipping_cost)

- unless @product.photos_array.empty?
  %h2 Product Photos
  = render 'product_photos', :locals => { :product => @product, :product_photos => @product.photos_array, :source => 'static' }


= link_to('Back to Store', store_path(@store))
|
= link_to('Edit', edit_store_product_path(@store, @product))
|
= link_to('Delete', {:controller => 'products', :action => 'destroy', :product => @product, :store => @store}, :data => { :confirm =>"Are you sure you want to delete #{@product.name}?" }, :method => :delete)
