- content_for(:description) { @product.description }
- content_for(:title) { "#{@product.name} | GramGoods" }
- content_for(:header) { @product.header }

.product-detail
  .product{ data: {  :'store-slug' => @product.store.slug } }
    .product-top.widget
      = @product.thumbnail_gallery

    .product-bottom.widget
      = @product.customized_store_body_header
      = @product.merchant
      = @product.description
      = @product.quantity
      = @product.colors
      = @product.sizes
      = @product.flatrate_shipping_options
      = @product.purchase_button_or_status_message
