!!! 5
%html
  %head
    %meta{ :charset => "utf-8" }
  %body
    %h1 Use the following text to easily share #{@product.name}.
    %p
      http://gramgoods.com/#{@product.store.slug}/#{@product.slug}.html Buy #{@product.name} for #{number_to_currency(@product.price)} right now by visiting @#{!@product.store.user.authentication.nickname.nil? ? @product.store.user.authentication.nickname : '' } or clicking the link. #{@product.get_instagram_tags(' ')}
    %p
      *Please note, any new photos you take with Instagram will need to be associated with this product. You can login into your account and associate new photos by
      %a{ :href => "http://gramgoods.com/#{@product.store.slug}/#{@product.slug}" } clicking here.

