!!! 5
%html
  %head
    %meta{ :charset => "utf-8" }
  %body
    %h1 Use the following text to easily share your product.
    Buy #{@product.name} for #{number_to_currency(@product.price)} right now by visiting @#{@user_instagram} or clicking this link: http://gramgoods.com/#{@store_slug}/#{@product.slug}

