!!! 5
%html
  %head
    %meta{ :charset => "utf-8" }
    %meta{ :name => "viewport", :content => "width=device-width, initial-scale=1.0" }
    = favicon_link_tag
    %title Gramgoods
    = stylesheet_link_tag 'admin', :media => "all"
    = csrf_meta_tags
  %body.admin-layout{ :class => "#{params[:controller]}-#{params[:action]}" }
    #spin_wrapper.hide
      #spin
    .navbar
      .navbar-inner
        .container
          %a.brand{ :href => '/' } GramGoods
          .nav-collapse
            %ul.nav.pull-left
              - if user_signed_in?
                %li{ :class => params[:controller] == 'stores' && params[:action] == 'index' ? 'active' : nil }
                  %a{ :href => '/stores' } Stores
              %li
                %a{ :href => 'mailto:admin@gramgoods.com' } Help
            %ul.nav.pull-right
              - if user_signed_in?
                %li
                  %p.navbar-text
                    Signed in as
                    %strong #{current_user.username}
                    = link_to edit_user_registration_path,
                      :class => 'gramgoods-tooltip' do
                      %i.icon-cog

                    = link_to destroy_user_session_path, :class => 'gramgoods-tooltip remove' do
                      %i.icon-remove-sign

                  %li
                    = image_tag(current_user.thumbnail, :class => 'user-thumbnail' )
              - else
                %li
                  = link_to "Sign In", new_user_session_path
                %li.divider-vertical
                %li
                  = link_to "Sign Up", new_user_registration_path

            %ul.nav.pull-right
              %li.dropdown

    .container
      .row
        .span12
          %p.rails-notice.alert.alert-success{ :class => (notice.nil? ? 'hide' : nil) }
            = notice
          %p.rails-alert.alert.alert-error{ :class => (alert.nil? ? 'hide' : nil) }
            = alert
      .row
        .span12
          = yield
    = include_gon
    = javascript_include_tag 'admin'
    = render 'shared/google_analytics'
