!!! 5
%html
  %head
    %meta{ :charset => "utf-8" }
    %meta{ :name => "viewport", :content => "width=device-width, initial-scale=1.0" }
    %title Gramgoods
    = stylesheet_link_tag 'admin', :media => "all"
    = csrf_meta_tags
  %body.admin-layout{ :class => "#{params[:controller]}-#{params[:action]}" }
    #spin_wrapper.hide
      #spin
    .navbar
      .navbar-inner
        .container
          %a.brand{ :href => '/' } GramGoods
          .nav-collapse
            %ul.nav.pull-left
              %li{ :class => params[:controller] == 'stores' && params[:action] == 'index' ? 'active' : nil }
                %a{ :href => '/stores' } Stores
            %ul.nav.pull-right
              - if user_signed_in?
                %li
                  %p.navbar-text
                    Logged into GramGoods as #{current_user.email}
                    = link_to edit_user_registration_path, :class => 'gramgoods-tooltip' do
                      %i.icon-cog
                    = link_to destroy_user_session_path, :method => :delete, :class => 'gramgoods-tooltip' do
                      %i.icon-remove-sign
                %li.divider-vertical
                - if current_user.authentication.nil?
                  %li
                    %a{ :href => "/auth/instagram" } Authenticate your account using Instagram.
                    %iframe.hide{ :src => "https://instagram.com/accounts/logout/" }
                - else
                  %li
                    %p.navbar-text
                      Authenticated with Instagram as #{current_user.authentication.nickname}
                      = link_to current_user.authentication, :method => :delete, :class => "gramgoods-tooltip remove" do
                        %i.icon-remove-sign

                  %li
                    = image_tag(current_user.authentication.thumbnail, :class => 'user-thumbnail' )
              - else
                %li
                  = link_to "Sign In", secure_url(new_user_session_path)
                %li.divider-vertical
                %li
                  = link_to "Sign Up", secure_url(new_user_registration_path)

            %ul.nav.pull-right
              %li.dropdown

    .container
      .row
        .span12
          %p.rails-notice.alert.alert-success{ :class => (notice.nil? ? 'hide' : nil) }
            = notice
          %p.rails-alert.alert.alert-error{ :class => (alert.nil? ? 'hide' : nil) }
            = alert
      .row
        .span12
          = yield
    = include_gon
    = javascript_include_tag 'admin'
